header
{
     display: flex;
     align-items: center;
     height: 100px;
     position: relative;
     background-color: #d9d9d9;
     background-image: linear-gradient(to right, #d9d9d9 ,  teal);
}
header .header-img {
    margin-left: 80px;
    margin-right: 300px;
}
header .header-title {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
}
/* ///////////////////////////////////////////////////// */
.app
{
  width: 100%;
  height: 85vh;
}
.app h2
{
  color: white;
}
.app ul
{
  list-style-type:"❤️";
  cursor: pointer;
  font-size: 22px;
  color: rgb(5, 5, 5);
  margin: 10px;
}
.app input
{
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin: 20px;
}
.app button
{
  width: 150px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  display: block;
  margin: auto;
  align-items: center;
}
.app li
{
  overflow-wrap: break-word;
}
.differntstyle
{
  list-style: "☑️";
  text-decoration:rgb(0, 0, 0) line-through;
}
.div10
{
  width: 100%;
  text-align: center;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 20px;
  margin-bottom: 5px;
}
.table-div
{
  height: 380px;
  overflow: scroll;
}
.btn_x
{
  color: red;
}
/* ////////////////////////////////////////////////////////////////////////// */
.my-input-element input::placeholder
{
  text-align: center;
}
.my-input-element input
{
  padding-left: 10px;
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
.my-input 
{
  display: flex;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  justify-content: space-around;
}
.my-input2 
{
  width: 90%;
  margin: auto;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: space-around;
  height: 50px;
}
/* /////////////////////////////////////////////////////////////// */
.my-table
{
  border: 1px solid black;
  width: 100%;
  text-align: center;
}
.head
{
   width: 100%;
   text-align: center;
   margin: auto;
   margin-bottom: 50px;
   display: flex;
   justify-content: space-around;
}
.sub-head
{
  width: 30%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
/* ////////////////////////////////////////////////////////////////////// */
.print-recipe {
  min-height: 80vh;
}
.page-header
{
  width: 80%;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
}
.page-header-img
{
   width: 200px;
   height: 200px;
}
.page-header-div
{
   /* border: 1px solid black; */
   text-align: center;
}
.page-header-sanf
{
  position: absolute;
  /* border: 1px solid black; */
  top: 250px;
  left: 1100px;
}
.table-113-120
{
   width: 80%;
   margin: auto;
   position: relative;
}
.table-113
{
  text-align: center;
  border: 2px solid black !important;
  width: 80%;
  margin: auto;
}
.gut
{
  background-color: aqua;
}
.kh
{
   display: flex;
   justify-content: space-around;
   width: 90%;
   margin: auto;
   text-align: center;
   margin-top: 30px;
   font-weight: 600;
   font-size: 30px;
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
.homepage {
   height: 90vh;
   display: grid;
   grid-template-columns: auto auto auto ;
   justify-content: space-evenly;
   align-content :space-evenly;
}
.recipe {
   width: 240px;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   background-color: teal;
   border-radius: 20px;
   color: white;
   text-decoration: none;
   text-align: center;
}
.homepage h1 {
  font-size: 34px;
}

/* ///////////////////////////////////////////// */


.orders-head
{
   border: 1px solid black;
   width: 100%;
   text-align: center;
   margin: auto;
   margin-bottom: 50px;
   display: flex;
   justify-content: space-around;
   height: 200px;
}
.orders-sub-head1
{
   border: 1px solid black;
   width: 30%;
}
.orders-sub-head1 div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: right;
   border: 1px solid black;
   height: 50px;
}
.orders-sub-head1 div input 
{
   padding-left: 10px;
}
.orders-sub-head2 {
  border: 1px solid black;
  width: 30%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.orders-sub-head2 div {
  height: 150px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
.my-input_product_costs {
  display: flex;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
  justify-content: space-around;
}